#cmnt{
    width: 40%;
    padding: 20px;
}

#handle-btn{
    width: 20%;
    padding: 20px;
}

#comment-con{
    width: 200px;
    height: 200px;
    border: 2px solid gray;
    margin: 3px;
    padding: 3px;
}

.user{
    padding: 20px;
    margin: 20px;
    width: 200px;
    height: 200px;
    border: 1px solid gray;
}

.user-con{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}